* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
a {
	text-decoration: none;
}
.wrapper {
	overflow: hidden;
	position: relative;
}
.container {
	min-width: 70%;
	margin: 0 auto;
}
