.button {
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   color: #fff;
   background-color: transparent;
   font-size: 15px;
   border: 1px solid #ffe600;
   padding: 20px 80px;
   margin: 5px;
   cursor: pointer;
}
.button:hover,
.button:focus {
   color: #000;
   background-color: #ffe600;
}
.button-arrow {
   border: none;
   padding: 15px;
}
.button-send {
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   font-family: Roboto, sans-serif;
   color: #fff;
   background-color: black;
   font-size: 15px;
   cursor: pointer;
   border: none;
   padding: 12px 20px;
}
.button-send:hover {
   background-color: #ffe600;
}
